# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = dineout.settings

[scrapyd]
application = herokuify_scrapy.app.application

[deploy:local]
url = https://scrape-restaurants.herokuapp.com
project = dineout
